@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

body,html {
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url('../imagens/fundo-madeira1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    

}



main{
    height: 100vh;
    position: relative;
}

#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 627px;
 
}

#tela{
position: relative;
top: 80px;
left: 22px;
width: 270px;
height: 471px;
}
#botoes{
    text-align: right;
    
}
#botoes img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);    
    box-sizing: border-box;
}
#botoes img:hover{
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
    transform: translate(-3px, -3px);
    transition: .2s, border .2s;

    
}


